lab3/a.out
lab2/a.out
.idea/misc.xml
.idea/modules.xml
.idea/tdde18.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/shelf/.xml
.idea/shelf/变更/shelved.patch
lab1/.DS_Store
lab2/.DS_Store
lab3/linked_list.dSYM/Contents/Resources/DWARF/linked_list
lab3/linked_list.dSYM/Contents/Info.plist
lab3/linked_list
.DS_Store
tdde18.code-workspace
.vscode/tasks.json
cmake-build-debug/CMakeFiles/clion-log.txt
.vscode/settings.json
